@use "../abstracts/colors" as *;

$themes: (
    white: $white,
    light: $light,
    indigo: $indigo,
    sky: $sky,
    blue: $blue,
    orange: $orange,
    black: $black
);

@each $name, $color in $themes {
    body.theme--#{$name} {
        background-color: $color;
    }
}
