$radius: 1rem;
$anim: 0.25s ease-out;

$phone: "screen and (max-width: 639px)";
$tablet: "screen and (min-width: 640px) and (max-width: 899px)";
$pocket: "screen and (max-width: 899px)";
$lap-and-up: "screen and (min-width: 900px)";
$desk: "screen and (min-width: 1240px)";
$widescreen: "screen and (min-width: 1720px)";

@mixin mq($alias) {
    @if $alias == "phone" {
        @media #{$phone} {
            @content;
        }
    } @else if $alias == "tablet" {
        @media #{$tablet} {
            @content;
        }
    } @else if $alias == "pocket" {
        @media #{$pocket} {
            @content;
        }
    } @else if $alias == "lap" {
        @media #{$lap} {
            @content;
        }
    } @else if $alias == "lap-and-up" {
        @media #{$lap-and-up} {
            @content;
        }
    } @else if $alias == "desk" {
        @media #{$desk} {
            @content;
        }
    } @else if $alias == "widescreen" {
        @media #{$widescreen} {
            @content;
        }
    }
}

$flex-directions: (
    fdr: row,
    fdc: column,
    fdrr: row-reverse,
    fdcr: column-reverse
);

$justify-contents: (
    jcc: center,
    jcsb: space-between,
    jcsa: space-around,
    jce: flex-end,
    jcs: flex-start
);

$align-items: (
    aic: center,
    ais: flex-start,
    aie: flex-end,
    aib: baseline
);

$short-breakpoints: (
    d: $lap-and-up,
    t: $tablet,
    p: $pocket
);

$gaps: (
    3: 0.3rem,
    4: 0.4rem,
    5: 0.5rem,
    10: 1rem,
    12: 1.2rem,
    15: 1.5rem,
    20: 2rem,
    25: 2.5rem,
    35: 3.5rem,
    40: 4rem,
    50: 5rem,
    75: 7.5rem,
    100: 10rem,
    125: 12.5rem,
    150: 15rem
);
