@use "../abstracts/variables" as *;
@use "../abstracts/colors" as *;

.about {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    height: calc(300vh + 15rem);
    border-top: 5px solid red;

    @media #{$lap-and-up} {
        padding-top: 15rem;
        padding-bottom: 15rem;
    }

    h2 {
        @media #{$lap-and-up} {
            font-size: 6rem;
        }
    }

    &-asset-wrap {
        position: sticky;
        top: 11.5rem;
        z-index: 4;
        border-radius: 2.5rem;
        overflow: hidden;
        background: white;

        @media #{$pocket} {
            width: 100%;
            min-height: calc(50vh - 7.5rem);
            aspect-ratio: 1/1;
        }

        @media #{$lap-and-up} {
            flex-shrink: 0;
            width: calc(50% - 2.5rem);
            flex-basis: calc(50% - 2.5rem);
            height: calc(100vh - 14rem);
        }
    }

    &-asset {
        width: 100%;
        height: 100%;
        border-radius: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.6s ease-out;

        &.active {
            opacity: 1;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-wrap {
        @media #{$pocket} {
            height: 300vh;
        }

        @media #{$lap-and-up} {
            width: calc(50% - 2.5rem);
            flex-basis: calc(50% - 2.5rem);
            height: 100%;
            height: 100%;

            position: relative;
            top: 0;
        }
    }

    &-section {
        height: 100vh;
        position: relative;
        position: sticky;
        top: 0;

        &:nth-of-type(1) {
            z-index: 1;

            @media #{$pocket} {
                margin-top: calc(-50vh - 7.5rem);
            }
        }

        &:nth-of-type(2) {
            z-index: 2;
        }

        &:nth-of-type(3) {
            z-index: 3;
        }
    }

    &-content {
        position: sticky;
        top: 0;
        height: 100%;
        justify-content: flex-start;

        @media #{$pocket} {
            padding-top: calc(50vh + 7.5rem);
        }

        @media #{$lap-and-up} {
            justify-content: center;
            padding-top: 7.5rem;
        }
    }
}

// body {
//     &[style="background-color: rgb(124, 124, 248);"] {
//         .about-asset {
//             &:nth-of-type(1) {
//                 opacity: 1 !important;
//             }
//             &:nth-of-type(2) {
//                 opacity: 0 !important;
//             }
//             &:nth-of-type(3) {
//                 opacity: 0 !important;
//             }
//         }
//         .about-section {
//             &:nth-of-type(1) {
//                 .about-content {
//                     opacity: 1;
//                 }
//             }
//             &:nth-of-type(2) {
//                 .about-content {
//                     opacity: 0;
//                 }
//             }
//             &:nth-of-type(3) {
//                 .about-content {
//                     opacity: 0;
//                 }
//             }
//         }
//     }
//     &[style="background-color: rgb(175, 217, 250);"] {
//         .about-asset {
//             &:nth-of-type(1) {
//                 opacity: 0 !important;
//             }
//             &:nth-of-type(2) {
//                 opacity: 1 !important;
//             }
//             &:nth-of-type(3) {
//                 opacity: 0 !important;
//             }
//         }
//         .about-section {
//             &:nth-of-type(1) {
//                 .about-content {
//                     opacity: 0;
//                 }
//             }
//             &:nth-of-type(2) {
//                 .about-content {
//                     opacity: 1;
//                 }
//             }
//             &:nth-of-type(3) {
//                 .about-content {
//                     opacity: 0;
//                 }
//             }
//         }
//     }
//     &[style="background-color: rgb(61, 118, 247);"] {
//         .about-asset {
//             &:nth-of-type(1) {
//                 opacity: 0 !important;
//             }
//             &:nth-of-type(2) {
//                 opacity: 0 !important;
//             }
//             &:nth-of-type(3) {
//                 opacity: 1 !important;
//             }
//         }
//         .about-section {
//             &:nth-of-type(1) {
//                 .about-content {
//                     opacity: 0;
//                 }
//             }
//             &:nth-of-type(2) {
//                 .about-content {
//                     opacity: 0;
//                 }
//             }
//             &:nth-of-type(3) {
//                 .about-content {
//                     opacity: 1;
//                 }
//             }
//         }
//     }
// }
