@use "../abstracts/variables" as *;
@use "../abstracts/colors" as *;

.hero {
    h1 {
        max-width: 83rem;
    }

    p {
        max-width: 57rem;
    }

    &-badge {
        padding: 1rem 1rem 1rem 2rem;
        background-color: $light;
        border-radius: 5rem;
    }
}
